/** Only ECHO Subset for Brand Name */
// @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); 

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('./assets/fonts/SpoqaHanSansRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('./assets/fonts/SpoqaHanSansBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('./assets/fonts/SpoqaHanSansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('./assets/fonts/SpoqaHanSansThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
