@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./assets/fonts/NanumSquareR.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('./assets/fonts/NanumSquareB.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url('./assets/fonts/NanumSquareEB.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('./assets/fonts/NanumSquareL.woff') format('woff');
}
